USE [master]
GO
/****** Object:  Database [Book]    Script Date: 2026/5/11 11:27:03 ******/
CREATE DATABASE [Book]
GO

CREATE TABLE [dbo].[tb_Book](
	[BookId] [varchar](50) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Author] [varchar](100) NOT NULL,
	[Press] [varchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[SaleCounts] [int] NOT NULL,
	[Photo] [varchar](100) NOT NULL,
	[Desciption] [text] NOT NULL,
	[IsOnline] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Book] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_Book]  VALUES (N'9787121515866', N'人工智能：时代的机遇和挑战', N'中央广播电视总台财经节目中心', N'电子工业出版社', CAST(53.50 AS Decimal(18, 2)), 99, 4, N'1.jpg', N'《人工智能：时代的机遇和挑战》一书以央视财经节目中心推出的同名系列微纪录片为内容编写。从人工智能发展史切入，描绘了人工智能给人类社会带来的巨变，探索人工智能的发展路径，以及人类如何处理与人工智能的关系，并结合当前全球关于人工智能治理的实践，对产业未来发展进行更深远的思考。节目组采访了中国工程院院士、国内外人工智能领域专家及前沿行业的专业学者。他们权威地解读了当前人工智能发展的技术底座及未来的应用场景，同时也客观分析了全球共同面临的风险和挑战，并深入探讨中国为全球人工智能治理作出的重要贡献。', 1)
GO
INSERT [dbo].[tb_Book]  VALUES (N'9787122472144', N'体育是门必修课', N'李拼命', N'化学工业出版社', CAST(72.00 AS Decimal(18, 2)), 30, 1, N'5.jpg', N'"《体育是门必修课—青少年运动的方法论》以国际公认的体能训练方法论为核心，深入探讨体能训练对青少年全面均衡发展的重要性，不仅能改善目前普遍存在的青少年亚健康问题，更能有效提升其运动表现。', 1)
GO
INSERT [dbo].[tb_Book]  VALUES (N'9787302691471', N'DeepSeek 从入门到精通', N'文之易,?苏小文', N'清华大学出版社', CAST(78.40 AS Decimal(18, 2)), 25, 5, N'3.jpg', N'"《DeepSeek 从入门到精通（微课视频版）—提示词设计 多场景应用 工具深度融合》', 1)
GO
